.alert__wrapper {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.alert {
    color: white;
    padding: 0.4rem 0.7rem;
    text-align: center;
    border-radius: 0.3rem;
}
.alert--danger {
    background-color: hsl(355deg, 69%, 57%);
}
.alert--success {
    background-color: hsl(133deg, 51%, 45%);
}
.alert--warning {
    background-color: rgb(187, 177, 41);
}
.alert--show {
    animation: splash 0.7s normal forwards ease-in-out;
}
@keyframes splash {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}
